*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-item
{
    height: 60vh;
}
.slider-img
{
 height: 100%;
 width: 100%;
 object-fit: cover;   
}
@media (max-width: 768px)
{
    .carousel-item
    {
        height: 40vh;
    }
}